* {
  box-sizing: border-box
};

#top {
  
}

.timer {
  font-family: 'Courier New', Courier, monospace;
}

.row {
  padding: 10px 0 10px 0;
}

#start-card {
  display: flex;
}

#quiz-card {
  display: none;
}

#final-card {
  display: none;
}